asgiref==3.5.2
beautifulsoup4==4.11.1
dj-database-url==1.0.0
dj-email-url==1.0.6
Django==4.1.4
django-bootstrap-datepicker-plus==4.0.0
django-bootstrap-form==3.4
django-bootstrap-v5==1.0.11
django-bootstrap4==22.2
django-cache-url==3.4.2
django-crispy-forms==1.14.0
django-environ==0.9.0
django-filter==22.1
django-sendgrid-v5==1.2.1
environs==9.3.5
gunicorn==20.1.0
marshmallow==3.18.0
packaging==21.3
pyparsing==3.0.9
python-dotenv==0.21.0
python-http-client==3.3.7
sendgrid==6.9.7
soupsieve==2.3.2.post1
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
