{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Password Change | Kona Swim Hub{% endblock title%}

{% block content %}

<div class="container">
  <h1>Password Change</h1>
  <h3>Please enter your old password and then enter your new password twice.
  </h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Change My Password</button>

    <a href="{% url 'password_reset' %}" class="btn btn-outline-primary me-2">Forgot Password?</a>

  </form>
</div>
{% endblock content %}