{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Password Reset | Kona Swim Hub{% endblock title%}

{% block content %}

<div class="container">
  <h1>Password Reset</h1>
  <h3>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new onw.
  </h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success">Reset My Password</button>
  </form>
</div>
{% endblock content %}