/* .container {
  position: relative;
  min-height: 100vh;
} */

.courses {
  padding-top: 1em;
}

.course-table-container {
  padding-top: 1em;
}

.enrolled-course-description:last-of-type {
  display: none;
}

.custom-link {
  transition: .4s;
}

.custom-link:hover {
  transition: .4s;
  opacity: .5
}