{% load i18n %}{% autoescape off %}

{% blocktranslate %}Aloha, Team Kona Swim Hub! {% endblocktranslate %}

{% blocktranslate %}Someone sent you a message: {% endblocktranslate %}

{% blocktranslate %}{{ subject }} {% endblocktranslate %}

{% blocktranslate %}{{ message_content }} {% endblocktranslate %}

{% blocktranslate %} You can send a message back through this email: {{ email }} {% endblocktranslate %}

{% block link %}
{{ "http://127.0.0.1:8000/accounts/my-account" }}
{% endblock %}

{% translate "Thanks for using Kona Swim Hub!" %}

{% endautoescape %}