{% extends "base.html" %}

{% block title %}About | Kona Swim Hub{% endblock title%}

{% block content %}
<div class="container">

  <div class="row justify-content-center pt-5">
    <div class="col-md-6 h-100 p-5 text-bg-light rounded-3">
      <h1>About</h1>
      <p class="lead">Aloha! I'm Lizzy. I developed Kona Swim Hub after I had a really hard time finding swim lessons
        for
        my
        kids. </p>
      
      <p class="lead">This web app was built with Django, HTML, CSS, and JavaScript. Check out my codebase <a href="https://github.com/lizzypine/kona-swim-hub">here</a></p>
        
      <p class="lead"> Questions? Want to request an app feature? Looking for
      a web developer? <a href=" {% url 'contact' %}">Get in touch!</a>
      </p>
      <p class="lead">Can't wait for you to give Kona Swim Hub a try!</p>
      <p class="lead">- Lizzy P.</p>
    </div>
  </div>
</div>
{% endblock content %}