{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Contact Waitlisted Learners for {{ course.course_title }}| Kona Swim Hub{% endblock title%}

{% block content %}
<script src="//code.jquery.com/jquery.min.js"></script>
{{ form.media }}

<div class="container">
  <h1>Contact waitlisted learners for {{ course.course_title }}</h1>
  <h2>Did a spot open up on one of your rosters? Invite a family off of the waitlist.</h2>

  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-success" value="Submit">
  </form>

</div>

{% endblock content %}