{% extends "base.html" %}

{% block title %}Course Details | Kona Swim Hub{% endblock title%}

{% block content %}

<body>

  <h1>Course Details</h1>

  <h2> Course Title: {{ course.course_title }} </h2>
  <h3> Location: {{ course.course_location }} </h3>
  <h3> Age: {{ course.course_age_range_min }} to {{ course.course_age_range_max }} </h3>
  <h3> Instructor: {{ course.course_instructor }} </h3>
  <p> {{ course.course_description }} </p>

  <h3> {{ course.course_start_date }} </h3>
  <h3> {{ course.course_end_date }} </h3>
  <h3> {{ course.course_start_time }} </h3>
  <h3> {{ course.course_end_time }} </h3>

  <h3> Number of spots available: {{ course.num_spots_available }} </h3>

  <button type="submit" class="btn btn-success">Register</button>

</body>
{% endblock content %}