{% extends "base.html" %}

{% block title %}Courses | Kona Swim Hub{% endblock title%}

{% block content %}

<body>
  <header>
    <div class="nav-right">
      <a href="{% url 'course_create' %}">Create a Course</a>
    </div>
  </header>

  <h1>Upcoming Courses</h1>

  <table border='1' style="width:100%; text-align:center">
    <thead>
      <tr>
        <th> Course Title </th>
        <th> Location </th>
        <th> Age </th>
        <th> Instructor </th>
      </tr>
    </thead>

    <tbody>
      {% for course in object_list %}
      <tr>
        <td> {{ course.course_title }} </td>
        <td> {{ course.course_location }} </td>
        <td> {{ course.course_age_range_min }} to {{ course.course_age_range_max }}</td>
        <td> {{ course.course_instructor }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
{% endblock content %}