{% extends "base.html" %}

{% block title %}{{ learner.first_name }} | Kona Swim Hub{% endblock title%}

{% block content %}

{{ form.media }}

<div class="container">
  <h2>{{ learner.first_name }}</h2>
  <div class="row my-3">

    <div class="course-table-container">

      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th> Name </th>
            <th> Birthdate </th>
            <th> Enrolled in Courses </th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td> {{ learner.first_name }} {{ learner.last_name}} </td>

            <td> {{ learner.birthday }} </td>

            <td>
              {% for course in courselist %}
              <p> {{ course.course_title }} </p>
              {% empty %}
              <p>Not enrolled in any courses.</p>
              {% endfor %}
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="text-start">
    <a href="{% url 'my-account' %}" class="btn btn-outline-primary me-2">Back</a>
    <a href="{% url 'learner-update' learner.pk %}" class="btn btn-primary">Edit Learner</a>
  </div>

  <div class="alert alert-danger" style="margin-top: 1.5em;" role="alert">
    <form method="post">{% csrf_token %}
      <h4>Are you sure you want to delete "{{ learner }}"?</h4>
      <input type="submit" class="btn btn-danger" value="Confirm">
    </form>
  </div>


</div>

{% endblock content %}