{% extends "base.html" %}

{% block title %}{{ learner.first_name }} | Kona Swim Hub{% endblock title%}

{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ form.media }}

<body>

  <h2>{{ learner.first_name }}</h2>
  <div class="row my-3 p-3">

    <div class="course-table-container">

      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th> Name </th>
            <th> Birthdate </th>
            <th> Enrolled in Courses </th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td> {{ learner.first_name }} {{ learner.last_name}} </td>

            <td> {{ learner.birthday }} </td>

            <td>
              {% for course in courselist %}
              <p> {{ course.course_title }} </p>
              {% empty %}
              <p>Not enrolled in any courses.</p>
              {% endfor %}
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div>
    <a href=" {% url 'learner-add' %}" class="btn btn-primary" role="button">Add a Learner</a>
  </div>

</body>

{% endblock content %}