{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Join the waitlist | Kona Swim Hub{% endblock title%}

{% block content %}

<div class="container">

  <h1>Move Waitlisted Learner to Roster for {{ course.course_title }} </h1>

  <h2> Course Title: {{ course.course_title }} </h2>

  <h3> Number of spots available: {{ course.num_spots_available }} </h3>

  <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <a href="{% url 'my-account' %}" class="btn btn-outline-primary me-2">Back</a>
    <input type="Submit" class="btn btn-success" value="Move Learner From Waitlist to Roster">
    {% endbuttons %}
  </form>

  {% if form.subject.errors %}
  <ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ol>
  {% endif %}

</div>

{% endblock %}