{% extends "base.html" %}

{% block title %}My Learners | Kona Swim Hub{% endblock title%}

{% block content %}

<!-- {{ form.media }} -->

<div class="container">
  <h1>Hi, {{ user.first_name }} {{ user.last_name }}!</h1>

  <h2>My Learners</h2>
  <div class="row my-3">
    <div class="course-table-container">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th> Name </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for learner in learners %}
            <td><a href="{% url 'learner-detail' learner.pk %}"">{{ learner.first_name }} {{ learner.last_name}}</a></td>
          </tr>
          {% empty %}
          <h3>You don't have any learners registered yet.</h3>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <a href=" {% url 'learner-add' %}" class="btn btn-primary" role="button">Add a Learner</a>
    </div>

  </div>

  {% endblock content %}