.main {
  padding-bottom: 120px;
}

.courses {
  padding-top: 1em;
}

.course-table-container {
  padding-top: 1em;
}

.enrolled-course-description:last-of-type {
  display: none;
}

.custom-link {
  transition: .4s;
}

.custom-link:hover {
  transition: .4s;
  opacity: .5
}

.btn-message {
  background-color: #14bdad !important;
}

.btn-message:hover {
  color: #000;
  background-color: #11a899 !important;
  border-color: #11a899 !important;
}

.btn-message-waitlist {
  background-color: #fd7e14 !important;
}

.btn-message-waitlist:hover {
  color: #000;
  background-color: #eb7413 !important;
  border-color: #eb7413 !important;
}

.my-account-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.waitlisted {
  color: gray;
  font-style: italic
}

.homepage-video-container {
  width: 75%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%
}

.homepage-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 767.98px) {
  .homepage-video-container {
    width: 100%;
  }
}